<div class="clearBoth"></div>
<div class="container">
  <div class="row">
    <h1><u>{{title}}</u></h1>
      <div class="row">
        <div class="col p-4 d-flex flex-column position-static">        

          <div class="card">
            <div class="card-body">
              <h5><b>ID -</b> {{post.id}}</h5>
              <h5><b>Post Title -</b> {{post.title}}</h5>
              <p class="card-text mb-auto"><b>Post Desc -</b> {{post.body}}</p>
            </div>
          </div>

        </div>      
      </div>
  </div>
</div>